In [1]:
# Numpy
# Pandas
# Matploitlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Pandas

In [2]:
# Series        - 1D - list/tuples/dict
# Dataframe     - 2D - array/matrix/
# Panel         - More than 2D

In [3]:
movieRatings = np.array([5,4,5,3,4,2,4,5,3,1,2,4,5,3,3])
series = pd.Series(movieRatings)

In [4]:
series

0     5
1     4
2     5
3     3
4     4
5     2
6     4
7     5
8     3
9     1
10    2
11    4
12    5
13    3
14    3
dtype: int32

In [5]:
series[0:5]

0    5
1    4
2    5
3    3
4    4
dtype: int32

In [6]:
# filter
# series > 4
# series == 4
series[series >= 4]

0     5
1     4
2     5
4     4
6     4
7     5
11    4
12    5
dtype: int32

In [12]:
movieName = ['Avengers','Antman','Sanju','Baahubali','Don','Sholay','Fukrey','Robot']
moveiRatings = [5,4,4,5,4,5,3,5]

movies = {
    'movieName' : movieName,
    'ratings' : moveiRatings
}

In [13]:
df = pd.DataFrame(movies)

In [14]:
df

   movieName  ratings
0   Avengers        5
1     Antman        4
2      Sanju        4
3  Baahubali        5
4        Don        4
5     Sholay        5
6     Fukrey        3
7      Robot        5

In [18]:
df[df['ratings'] == 5]

   movieName  ratings
0   Avengers        5
3  Baahubali        5
5     Sholay        5
7      Robot        5

In [20]:
# df.sort_values('ratings')
df.sort_values('ratings', ascending=False)

   movieName  ratings
0   Avengers        5
3  Baahubali        5
5     Sholay        5
7      Robot        5
1     Antman        4
2      Sanju        4
4        Don        4
6     Fukrey        3

# File I/O

In [42]:
dataset = pd.read_csv('data/matches.csv')

In [22]:
dataset.shape

(577, 18)

In [24]:
# will return top 5 observations
# dataset.head()

dataset.head(8)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
5,6,2008,Jaipur,2008-04-21,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,0,Rajasthan Royals,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
6,7,2008,Hyderabad,2008-04-22,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,normal,0,Delhi Daredevils,0,9,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",IL Howell,AM Saheba,NaN
7,8,2008,Chennai,2008-04-23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,NaN

In [26]:
# will return bottom 5 observations
dataset.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
572,573,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
573,574,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
574,575,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
575,576,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
576,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [29]:
# used for slicing
dataset.iloc[0:5,4:8]

,team1,team2,toss_winner,toss_decision
0,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field
1,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat
2,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat
4,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat

In [33]:
dataset.iloc[0:5, [2,4,5,10]]

,city,team1,team2,winner
0,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
1,Chandigarh,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
2,Delhi,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils
3,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
4,Kolkata,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders

In [34]:
# statistical analysis of any data
dataset.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,577.000000,577.000000,577.000000,577.000000,577.000000,0.0
mean,289.000000,2012.029463,0.025997,13.715771,3.363951,NaN
std,166.709828,2.486247,0.159263,23.619282,3.416049,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,145.000000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,289.000000,2012.000000,0.000000,0.000000,3.000000,NaN
75%,433.000000,2014.000000,0.000000,20.000000,6.000000,NaN
max,577.000000,2016.000000,1.000000,144.000000,10.000000,NaN

In [37]:
# axis = 0 - row wise
# axis = 1 - column wise
dataset.dropna(axis=1, inplace=True)

In [38]:
dataset.head()

,id,season,date,team1,team2,toss_winner,toss_decision,result,dl_applied,win_by_runs,win_by_wickets,venue,umpire1,umpire2
0,1,2008,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,140,0,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen
1,2,2008,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,33,0,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri
2,3,2008,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,0,9,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar
3,4,2008,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,0,5,Wankhede Stadium,SJ Davis,DJ Harper
4,5,2008,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,0,5,Eden Gardens,BF Bowden,K Hariharan

In [43]:
dataset.drop_duplicates('season', keep='last')[['season','winner']]

     season                 winner
57     2008       Rajasthan Royals
114    2009        Deccan Chargers
174    2010    Chennai Super Kings
247    2011    Chennai Super Kings
321    2012  Kolkata Knight Riders
397    2013         Mumbai Indians
457    2014  Kolkata Knight Riders
516    2015         Mumbai Indians
576    2016    Sunrisers Hyderabad

In [47]:
temp_df = dataset[(dataset['player_of_match'] == 'MS Dhoni') & (dataset['toss_decision'] == 'bat')]

In [52]:
temp_df.iloc[:,[4,5,6,7,10]]

,team1,team2,toss_winner,toss_decision,winner
14,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings
84,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,Chennai Super Kings
122,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,Chennai Super Kings
229,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings
354,Sunrisers Hyderabad,Chennai Super Kings,Sunrisers Hyderabad,bat,Chennai Super Kings
362,Chennai Super Kings,Pune Warriors,Chennai Super Kings,bat,Chennai Super Kings
386,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings
569,Kings XI Punjab,Rising Pune Supergiants,Kings XI Punjab,bat,Rising Pune Supergiants