In [1]:
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv('data/deliveries.csv')

In [4]:
dataset.shape

(136598, 21)

In [6]:
dataset.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [7]:
data_1 = dataset[dataset['total_runs'] == 6]

In [9]:
data_1.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
10,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,4,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
20,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,2,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [12]:
data_2 = data_1[['batsman','total_runs']]

In [14]:
data_2.head(4)

        batsman  total_runs
10  BB McCullum           6
20  BB McCullum           6
25  BB McCullum           6
60  BB McCullum           6

In [18]:
data_2.shape

(5784, 2)

In [22]:
pd.value_counts(data_2['batsman'])

CH Gayle           247
RG Sharma          163
SK Raina           160
V Kohli            148
YK Pathan          143
MS Dhoni           140
AB de Villiers     139
Yuvraj Singh       133
DA Warner          132
KA Pollard         124
SR Watson          121
DR Smith           109
BB McCullum        105
V Sehwag           105
RV Uthappa         104
AC Gilchrist        92
M Vijay             89
JP Duminy           78
AT Rayudu           76
NV Ojha             75
DA Miller           74
SE Marsh            73
S Dhawan            61
KD Karthik          60
DJ Hussey           60
GJ Maxwell          56
JA Morkel           54
MK Pandey           53
RA Jadeja           53
MEK Hussey          52
                  ...
RR Powar             1
SD Chitnis           1
KW Richardson        1
RR Sarwan            1
SK Trivedi           1
K Upadhyay           1
KB Arun Karthik      1
KS Williamson        1
AN Ahmed             1
Sohail Tanvir        1
FY Fazal             1
AD Mascarenhas       1
JDS Neesham          1
DE Bollinger         1
T Henderson          1
M Kartik             1
L Ronchi             1
WD Parnell           1
SA Abbott            1
A Mithun             1
R Tewatia            1
KJ Abbott            1
VH Zol               1
JM Kemp              1
AC Thomas            1
R McLaren            1
SW Tait              1
RR Raje              1
RV Gomez             1
MA Khote             1
Name: batsman, Length: 282, dtype: int64

In [25]:
# pd.value_counts(dataset['batsman'])