In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
dataset = pd.read_csv('data/tv_show_viewers_datasest.csv')

In [3]:
dataset.head()

,Episode,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
0,Episode001,3,5,2,4,4,3,7,9,888983
1,Episode002,4,6,3,5,3,4,8,7,888737
2,Episode003,2,4,1,3,5,2,6,8,887743
3,Episode004,4,6,3,5,2,5,8,7,808437
4,Episode005,5,7,4,6,4,2,6,6,777626

In [6]:
dataset.shape

(50, 10)

In [8]:
features = []
target = []

for char_1, char_2, char_3, char_4, char_5, fight, comedy, romance, viewers in zip(dataset['Character1_appeared'],
                                                                                  dataset['Character2_appeared'],
                                                                                  dataset['Character3_appeared'],
                                                                                  dataset['Character4_appeared'],
                                                                                  dataset['Character5_appeared'],
                                                                                  dataset['Fight_scenes'],
                                                                                  dataset['Comedy_scences'],
                                                                                  dataset['Romance_scence'],
                                                                                  dataset['Viewers']):
    features.append([char_1,char_2,char_3,char_4,char_5,fight,comedy,romance])
    target.append(viewers)

In [10]:
target

[888983,
 888737,
 887743,
 808437,
 777626,
 877672,
 799867,
 656765,
 798732,
 506556,
 696453,
 621321,
 453234,
 897653,
 443535,
 723454,
 354234,
 808324,
 432534,
 886543,
 899876,
 564533,
 908654,
 876553,
 896574,
 723454,
 812312,
 709876,
 897654,
 708983,
 762342,
 875644,
 654564,
 789564,
 921084,
 897423,
 552342,
 798345,
 665434,
 708345,
 609834,
 560973,
 665453,
 987342,
 907823,
 887623,
 708242,
 898723,
 765434,
 883234]

In [11]:
regression = LinearRegression()
regression.fit(features,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
regression.predict([[3,5,2,4,4,3,7,9]])

array([ 968031.03977999])

In [13]:
from sklearn.metrics import mean_squared_error

In [15]:
y_pred = regression.predict(features)

In [17]:
np.sqrt(mean_squared_error(target,y_pred))

73586.723299228848

In [18]:
features = [[char_1, char_2] for char_1, char_2 in zip(dataset['Character1_appeared'], dataset['Character2_appeared'])]

In [19]:
features

[[3, 5],
 [4, 6],
 [2, 4],
 [4, 6],
 [5, 7],
 [2, 4],
 [1, 3],
 [0, 2],
 [2, 4],
 [3, 5],
 [4, 6],
 [1, 3],
 [7, 9],
 [3, 5],
 [2, 4],
 [4, 6],
 [5, 7],
 [6, 8],
 [7, 9],
 [1, 3],
 [3, 5],
 [6, 8],
 [3, 5],
 [7, 9],
 [2, 4],
 [4, 6],
 [3, 5],
 [5, 7],
 [2, 4],
 [0, 2],
 [3, 5],
 [4, 6],
 [1, 3],
 [2, 4],
 [5, 7],
 [2, 4],
 [1, 3],
 [4, 6],
 [3, 5],
 [2, 4],
 [1, 3],
 [5, 7],
 [2, 4],
 [1, 3],
 [6, 8],
 [2, 4],
 [8, 10],
 [2, 4],
 [1, 3],
 [3, 5]]