In [1]:
import pandas as pd
# Feature Scaling
from sklearn.preprocessing import StandardScaler
# Label encoding
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Handle missing values
from sklearn.preprocessing import Imputer
# train test split
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
dataset.shape

(10, 4)

In [5]:
X = dataset.iloc[:,:-1].values
y = dataset['Purchased'].values

# Handle Missing Values

In [6]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [7]:
im = Imputer()

In [8]:
X[:,1:] = im.fit_transform(X[:,1:])

In [9]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [10]:
encode = LabelEncoder()

In [11]:
X[:,0] = encode.fit_transform(X[:,0])

In [12]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [16]:
onehot = OneHotEncoder(categorical_features=[0])

In [17]:
X = onehot.fit_transform(X)

In [18]:
X

<10x5 sparse matrix of type '<class 'numpy.float64'>'
	with 29 stored elements in COOrdinate format>

In [19]:
X.toarray()

array([[  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          7.58874362e-01,   7.49473254e-01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
         -1.71150388e+00,  -1.43817841e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
         -1.27555478e+00,  -8.91265492e-01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
         -1.13023841e-01,  -2.53200424e-01],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
          1.77608893e-01,   6.63219199e-16],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         -5.48972942e-01,  -5.26656882e-01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
          0.00000000e+00,  -1.07356980e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          1.34013983e+00,   1.38753832e+00],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
          1.63077256e+00,   1.75214693e+00],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         -2.58340208e-01,   2.93712492e-01]])

In [13]:
scaler = StandardScaler()

In [15]:
X[:,1:] = scaler.fit_transform(X[:,1:])

C:\Users\asus\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [20]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [21]:
x_train.shape

(8, 5)

In [22]:
y_train.shape

(8,)

In [23]:
x_test.shape

(2, 5)